*{
    margin : 0 px;
    padding : 0 px;
    box-sizing: border-box;
}

.container{
    max-width: 960px;
    margin: auto;
    border: 1px pink solid;
}

.container h1,p{
    text-align: center;
}

form label{
    display: block;
}