*{
    margin : 0 px;
    padding : 0 px;
    box-sizing: border-box;
}

body{
    background-color : #3d526dd7;
}

.mainContainer{
    background-color: white;
    border : 1px solid red;
    padding : 10px;
    display: table;
    margin: auto;
    width: 370px;
}

.labelledClass label,input{
    display: block;
}

.labelledClass input{
    border : none;
    border : solid 1px #ccc;
    border-radius: 5px;
    width: 100%;
    padding : 5px;
}

.labelledClass label{
    margin-bottom: 5px;
}

.labelledClass{
    margin-bottom : 10px;
}

.btn{
    border : none;
    width : 100%;    
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.btn:hover{
    cursor: pointer;
}

.bottomLine{
    color : white;
    display: inline;
}

.bottom{
    margin-top: 10px;
    text-align: center;
}

.bottom a{
    text-decoration : none;
    color : rgb(133, 247, 228);
}

.mainContainer span{
    color: blue;
    text-align: center;
    display: block;
}